body {
    font-family: "Barlow" !important;
    line-height: 1.4;
    color: #585857;
    /* color: #6f6f6f; */
    min-width: 300px;
    font-weight: 400;
}

.site{
	//background-color: rgba(32,32,50,1);
}

.house-info{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	float: left;
	padding-left: 85px;
	cursor: pointer;
	img{
		width: 15px;
		height: 15px;
	}
	p{
		text-align: center;
		margin: 0;
	}
}
.carousel-caption{
	background-color: black;
	h3{
		display: inline-block;
		float: left;
		padding-left: 25px;
	}
}

.carousel-indicators{
	display: none !important;
}




.footer{
	footer{
		background-color: rgb(32, 32, 50) !important;
		color: white;
	}
}



