.who-page{
	.who-page-container{
		background-color: rgba(240,239,242,0.9);
		width: 50%;
		display: flex;
		height: 100%;
		float: right;
		opacity: 0.8;
	}
	.text{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		font-weight: 800;
	}
}

@media only screen and (max-width: 910px) {
	.who-page {
		height: 100vw !important;
	}
}
@media only screen and (max-width: 582px) {
	.who-page {
		height: 250vw !important;
	}
}
  